@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

header {
    display: flex;
    background-color: white;
    justify-content: space-around;
    padding: 1rem 0;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px;
    margin-right: 10px;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__item {
    margin: 0 8px;
}

.nav__link {
    padding: 1px 5px;
    color: black;
    font-size: 0.9rem;
    border-radius: 5px;
    opacity: 80%;
}

.nav__link:hover {
    opacity: 100%;
}

.header__toggle,
.header__close {
    display: none;
}

.header__toggle,
.header__close:hover {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    header {
        height: 48px;
        justify-content: space-between;
        padding: 0 28px;
    }
    .logo a {
        font-size: 0.9rem;
    }
    .logo img {
        width: 100px;
    }
    .header__toggle {
        display: inline;
        color: black;
        font-size: 24px;
    }
    .header__close {
        position: absolute;
        right: 24px;
        display: block;
        font-size: 24px;
        border-radius: 50%;
        color: white;
    }
    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: black;
        color: black;
        width: 60%;
        height: 100vh;
        padding: 24px 0;
        z-index: 100;
        transition: 0.5s;
        border-radius: 0 0 0 50%;
    }
    .nav__list {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
    .nav__item {
        margin: 2rem 0;
    }
    .nav__link {
        color: white;
    }
    .show {
        right: 0;
    }
}


/* About */

.about {
    width: 100%;
    padding: 78px 0px;
    margin-top: 150px;
}

.about img {
    height: auto;
    width: 420px;
    border-radius: 10px;
}

.about-text {
    width: 550px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1 {
    color: black;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 0px;
}

.about-text h5 {
    color: black;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.about-text p {
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 15px;
}

button {
    color: black;
    border: 2px solid black;
    font-weight: bold;
    padding: 13px 30px;
    transition: .4s;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background: black;
    color: white;
}

@media screen and (max-width: 1066px) {
    .about img {
        height: auto;
        width: 320px;
    }
    .about-text h1 {
        font-size: 50px;
    }
    .about-text h5 {
        font-size: 20px;
    }
    .about-text p {
        font-size: 10px;
        line-height: 18px;
    }
}

@media screen and (max-width: 937px) {
    .about {
        margin-top: -50px;
    }
    .about * {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }
    .about button {
        width: 100%;
        height: 50px;
    }
    .about h1,
    h5,
    p {
        text-align: center;
    }
    .about img {
        width: 454px;
    }
    .white__space {
        height: 0px;
    }
}

.white__space {
    height: 275px;
}


/* Footer */

.footer {
    position: relative;
    width: 100%;
    background: black;
    opacity: 80%;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu {
    bottom: 10px;
}

.social-icon {
    top: 5px;
}

.social-icon,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
    list-style: none;
}

.social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.social-icon__link:hover {
    transform: translateY(-5px);
}

.menu__link {
    font-size: 1.2rem;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 80%;
    font-weight: 300;
}

.menu__link:hover {
    opacity: 1;
}

.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}

.line {
    width: 50px;
    opacity: 80%;
}