@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

header {
    display: flex;
    background-color: white;
    justify-content: space-around;
    padding: 1rem 0;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px;
    margin-right: 10px;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__item {
    margin: 0 8px;
}

.nav__link {
    padding: 1px 5px;
    color: black;
    font-size: 0.9rem;
    border-radius: 5px;
    opacity: 80%;
}

.nav__link:hover {
    opacity: 100%;
}

.header__toggle,
.header__close {
    display: none;
}

.header__toggle,
.header__close:hover {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    header {
        height: 48px;
        justify-content: space-between;
        padding: 0 28px;
    }
    .logo a {
        font-size: 0.9rem;
    }
    .logo img {
        width: 100px;
    }
    .header__toggle {
        display: inline;
        color: black;
        font-size: 24px;
    }
    .header__close {
        position: absolute;
        right: 24px;
        display: block;
        font-size: 24px;
        border-radius: 50%;
        color: white;
    }
    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: black;
        color: black;
        width: 60%;
        height: 100vh;
        padding: 24px 0;
        z-index: 100;
        transition: 0.5s;
        border-radius: 0 0 0 50%;
    }
    .nav__list {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
    .nav__item {
        margin: 2rem 0;
    }
    .nav__link {
        color: white;
    }
    .show {
        right: 0;
    }
}

/* Apie */
.about{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}

.about .content img{
    height: auto;
    width: 900px;
    max-width: 100%;
}

.text{
    width: 550px;
    max-width: 100%;
    padding: 0 auto;
}

.content {
    width: 1500px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.text h1{
    font-size: 85px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.text h5{
    font-size: 25px;
    margin-bottom: 25px;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.text p{
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 45px;
}

button{
    background-color: white;
    color: black;
    border: 3px solid black;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 17px;
    font-weight: bold;
}

button:hover{
    background-color: black;
    border: 3px solid transparent ;
    color:white;
    transition: .4s;
    cursor: pointer;
}

.about-link{
    padding-left: 0px;
    margin-top: 30px;
}

.about-link li{
    display: inline-block;
}

.about-link li a i{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    border: 1px solid black;
    margin-right: 10px;
    font-size: 22px;
    color: black;
    transition: all .3s;
    
}


.about-link li a i:hover{
    color: white;
    background: black;
    border-color: black;
    
}


@media screen and (max-width: 1180px){
    .about{
        width: 100%;
        height: auto;
        padding: 70px 0px;
    }
}

@media screen and (max-width: 650px){
    .about .content img{
        margin-bottom: 35px;
    }
    .text h1{
        font-size: 60px;
        margin-bottom: 25px;
    }
}

/* Grid */
.container{
    width: 100%;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.gallery img{
    width: 100%;
}

.btndiv{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: -50px;
}

.btn-gal{
    background-color: white;
    color: black;
    border: 3px solid black;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 17px;
    font-weight: bold;
    margin: 0;
    width: 200px;
}

button:hover{
    background-color: black;
    border: 3px solid transparent ;
    color:white;
    transition: .4s;
    cursor: pointer;
}

/* Footer */

.footer {
    position: relative;
    width: 100%;
    background: black;
    opacity: 80%;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu {
    bottom: 10px;
}

.social-icon {
    top: 5px;
}

.social-icon,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
    list-style: none;
}

.social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.social-icon__link:hover {
    transform: translateY(-5px);
}

.menu__link {
    font-size: 1.2rem;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 80%;
    font-weight: 300;
}

.menu__link:hover {
    opacity: 1;
}

.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}

.line {
    width: 50px;
    opacity: 80%;
}


/* Custom ScrollBar */

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

*::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}